body {
  text-align: center;
  color: #EEE;
  font-size: 30px;
  font-family: avenir;
}

#container{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  max-width: 960px;
  margin: 0 auto;
  background: #b02bff;
}

#container div{
  background: #FFD72B;
  padding: 50px;
  margin: 10px;
}

#container div:nth-child(even) {
  background: #50d400;
  padding: 50px;
}